################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MicroSIP-3.19.27-src/v16/Browse.VC.db
